.product {
  color: black;
  /*background: white;*/
  border-radius: 8px;
  overflow: hidden;
  /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);*/
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  padding: 1rem;
}

.product:hover {
  transform: translateY(-5px);
  /*box-shadow: 0 8px 16px rgba(0, 255, 55, 0.2);*/
  border: #d08631 solid 1px;
  background-color: #faece0;
}

.product img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  background-color: #ecf0f1;
  border-radius: 8px;
}

.product-title {
  font-size: 1rem;
  font-weight: bold;
  color: #2c3e50;
  /* Begræns til 2 linjer */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-description {
  font-size: 0.9rem;
  color: #7f8c8d;
  /* Begræns til 2 linjer */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-price {
  font-size: 1rem;
  font-weight: bold;
  color: #2e2e2e;
  text-decoration: underline;
  display: flex;
  justify-content: right;
  padding: 0 4px;
}

.product-stock {
  font-size: 0.85rem;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  color: #333;
}
.product-stock.in-stock {
  color: #27ae60;
  background-color: #d4efdf;
}
.product-stock.out-of-stock {
  color: #c0392b;
  background-color: #f5b7b1;
}

.product-detail-page main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: left;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
