#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

header {
  background-color: #31d031;
  color: white;
  text-align: center;
  padding: 2rem 5rem;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

nav {
  background-color: #31d031;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;

  position: sticky;
  top: 0;
  z-index: 100;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #2f2f2f;
}

nav a.active {
  background-color: #ffffff;
  color: #2f2f2f;
}

nav a.active:hover {
  color:#31d031
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}
.product {
  color: black;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  padding: 1rem;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 255, 55, 0.2);
  background-color: #e0fae0;
}

.product img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  background-color: #ecf0f1;
  border-radius: 4px;
}

.product-title {
  font-size: 1rem;
  font-weight: bold;
  color: #2c3e50;
  /* Begræns til 2 linjer */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-description {
  font-size: 0.9rem;
  color: #7f8c8d;
  /* Begræns til 2 linjer */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-price {
  font-size: 1rem;
  font-weight: bold;
  color: #27ae60;
  margin-bottom: 1rem;
}

.product-stock {
  font-size: 0.85rem;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  color: #333;
}
.product-stock.in-stock {
  color: #27ae60;
  background-color: #d4efdf;
}
.product-stock.out-of-stock {
  color: #c0392b;
  background-color: #f5b7b1;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #34495e;
  color: white;
  margin-top: 3rem;
}

/* Responsive */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }

  header h1 {
    font-size: 2rem;
  }
}
